# Dependencies
node_modules/

# Build
dist/
build/
public/

# Environment
.env
.env.*
!.env.example

# Logs
logs/
*.log

# Coverage
coverage/

# Prisma
prisma/*.db
prisma/*.db-journal

# Uploads
uploads/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
